*{
    margin: 0;
    padding: 0;
}
#welcome-txt{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
#animation-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
#animation-container p{
    font-size: 50px;
    font-weight: 700;
    display: inline-block;
    margin-top: 1rem;
    -webkit-animation: rainbow 5s infinite; 
}
@-webkit-keyframes rainbow{
    0%{color: orange;}  
    10%{color: purple;} 
    20%{color: red;}
    30%{color: CadetBlue;}
    40%{color: yellow;}
    50%{color: coral;}
    60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
    100%{color: orange;}
}